
#head {
  background-color: #1b281c;
  background-attachment: center;
  background-position: center;
  color: #fff;
}
#head .title,
#head .title a,
#head .tagline,
#head .tagline b,
#head .tagline a {
  color: #fff;
  text-shadow: 1px 1px 2px #000;
}


.image {
  margin: 1em 0;
}

#main {
  margin-bottom: 2em;
}

#head img.img-circle {
  border: none;
  margin-bottom: 0.5em;
}

.thumbnail .title {
  font-size: 1.2em;
  margin-bottom: 0.5em;
}
.thumbnail .img {
  margin-bottom: 0.5em;
}

.service {
  min-height: 16em;
  padding: 1em;
}

.service .description {
  min-height: 4em;
}

.clear-both {
  clear: both;
}

body {
  color: #333;
}

.no-style, .no-style:hover {
  color: inherit;
  text-decoration: inherit;
}

.languages {
  float: right;
  display: inline-block;

  color: #333;
  background: #fff;
  padding: 0.25em 0.5em;
  margin-right: 1em;
  border-radius: 3px;
}

.languages a {
  display: inline-block;
  padding: 0 0.5em;
}