{{ partial "header.html" . }}

<main id="main">

	<div class="container">
		<div class="row topspace">
			<div class="col-sm-8 col-sm-offset-2">
                {{ range .Paginator.Pages }}
				<article class="post">
					<header class="entry-header">
						<h1 class="entry-title"><a href="{{ .RelPermalink }}#main" rel="bookmark">{{ .Title }}</a></h1>
					</header>
					<div class="entry-content">
						<p>{{ .Summary | plainify | safeHTML }}</p>
						<p class="text-center"><a href="{{ .RelPermalink }}#main" class="btn btn-action">{{ i18n "read-more" .}}</a></p>
						{{ partial "large-thumbnail.html" . }}
					</div>
				</article>
                {{ end }}
			</div>
		</div>

		<center class="">
			<ul class="pagination">
                {{ template "_internal/pagination.html" . }}
			</ul>
		</center>


	</div>	<!-- /container -->

</main>

{{ partial "footer.html" . }}
