{{ partial "header.html" . }}

<main id="main">

	<div class="container">
		<div class="row topspace">
			<div class="col-sm-8 col-sm-offset-2">

 				<article class="post">
					<header class="entry-header">
 						{{ if not .Date.IsZero }}
 						<div class="entry-meta">
 							<span class="posted-on"><time class="entry-date published" date="{{ .Date }}">{{ dateFormat .Site.Params.DateForm .Date }}</time></span>
 						</div>
 						{{ end }}
 						<h1 class="entry-title"><a href="{{ .RelPermalink }}#main" rel="bookmark">{{ .Title }}</a></h1>
					</header>
					<div class="entry-content">
						{{ .Content }}
						{{ partial "gallery.html" . }}
					</div>
				</article><!-- #post-## -->

			</div>
		</div> <!-- /row post  -->

		<div class="clearfix"></div>

	</div>	<!-- /container -->

</main>

{{ partial "footer.html" . }}
