<footer id="footer">
	<div class="container">
		<div class="row">
			{{ if .Site.Params.footerEnableContact }}
			<div class="col-md-12 widget">
				<h3 class="widget-title">{{ i18n "contact" }}</h3>
				<div class="widget-body">
					<p>{{ range .Site.Params.contact }}{{. | safeHTML}}<br>{{end}}</p>
				</div>
			</div>
			{{ end }}
		</div> <!-- /row of widgets -->
	</div>
</footer>

<footer id="underfooter">
	<div class="container">
		<div class="row">
			<div class="col-md-6 widget">
				<div class="widget-body">
				</div>
			</div>

			<div class="col-md-6 widget">
				<div class="widget-body">
					<p class="text-right">
						Copyright &copy; {{ .Site.Params.year }}, {{ .Site.Params.name }}<br>
						Design: <a href="http://www.gettemplate.com" rel="designer">Initio by GetTemplate</a> - 
                        Powered by: <a href="https://gohugo.io/" rel="poweredby">Hugo</a>
                    </p>
				</div>
			</div>

		</div> <!-- /row of widgets -->
	</div>
</footer>



<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="{{ .Site.BaseURL }}js/template.js"></script>
{{ if .Site.Params.disqus -}}
<script id="dsq-count-scr" src="//{{ .Site.Params.disqus.site }}/count.js" async></script>
{{ end -}}
{{ if .Site.Params.google.analytics -}}
{{ partial "analyticstracking.html" . }}
{{ end -}}
</body>
</html>
