{{ $images := .Resources.ByType "image" }}
{{ if $images }}
{{ range .Resources.ByType "image" }}
{{ $resized := .Resize "700x 80q" }}
<div class="image">
    <a href="{{ .RelPermalink }}">
        <img src="{{ $resized.RelPermalink }}">  <br/>
    </a>
</div>
{{ end }}
{{ end }}