<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
<head>
	<meta charset="utf-8">
	<meta name="viewport"    content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author"      content="Sergey Pozhilov (GetTemplate.com)">

	<title>{{ .Title }}</title>

	<link rel="shortcut icon" href="{{ .Site.Params.favicon }}">

	<!-- Bootstrap -->
	<link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.no-icons.min.css" rel="stylesheet">
	<!-- Icons -->
	<link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
	<!-- Fonts -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alice|Open+Sans:400,300,700">
	<!-- Custom styles -->
	<link rel="stylesheet" href="/css/styles.css">
	<link rel="stylesheet" href="/css/custom.css">

	<!--[if lt IE 9]> <script src="js/html5shiv.js"></script> <![endif]-->
</head>
<body class="home">

<header id="header">
	<div id="head">
		<h1 id="logo" class="text-center">
			<img class="img-circle" src="{{ .Site.Params.avatar }}" alt="">
			<span class="title">{{ .Site.Params.name }}</span>
			<span class="tagline">{{ .Site.Params.description }}<br>
				<a href="mailto:{{ .Site.Params.email }}">{{ .Site.Params.email }}</a>
			</span>
		</h1>

		{{ if .IsTranslated }}
		<nav class="languages text-right">
		{{- range $i, $lang := .AllTranslations -}}
		    {{if ne $i 0}}|{{end}}<a href="{{ .RelPermalink }}">{{ $lang.Language.LanguageName }}</a>
		{{- end -}}
		</nav>
		{{ end }}
	</div>

    {{ partial "menu.html" . }}

</header>
