<div class="row section recentworks topspace">
    <h2 class="section-title"><span>{{ i18n "recent-work" .}}</span></h2>

    <div class="thumbnails recentworks">
        {{ range where .Data.Pages "Section" "work" }}
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <a class="thumbnail" href="{{ .RelPermalink }}#main">
                    <span class="title">{{ .Title }}</span>
                    <span class="img" >
                        {{ partial "thumbnail" . }}
                        <span class="cover"><span class="more">{{i18n "see-details"}} &rarr;</span></span>
                    </span>
                </a>
                <span class="details"><p>{{ .Params.description }}</p></span>
            </div>
        {{ end }}
    </div>
</div> <!-- /section -->