<div class="row section featured topspace">
    <h2 class="section-title"><span>{{ i18n "services" }}</span></h2>

    <div class="services">
        {{ range where .Data.Pages "Section" "services" }}
            {{ if .Params.break }}<div class="clear-both"></div>{{ end }}
            <div class="col-sm-6 col-md-4 service">
                <h3 class="text-center">{{ .Title }}</h3>
                <p class="description">{{ .Params.description }}</p>
                <p class="text-center"><a href="{{ .RelPermalink }}#main" class="btn btn-action">{{ i18n "read-more" .}}</a></p>
            </div>
        {{ end }}
    </div>

</div> <!-- / section -->
