<div class="row section topspace">
    <div class="col-md-12">
        <div class="lead text-center">
        	{{ range .Site.Params.blurb }}<p>{{.}}</p>{{ end }}
        </div>
    </div>
</div> <!-- / section -->
